body {
    width: 960px;
}
/* Rotate the profile picture here please */
img.profilepic {
    height: 200px;
    width: 200px;
    transform: rotate(90deg);
    float: left;
}
header.theHeader {
    background: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav.navigation {
    float:right;
}
h1.name {
}