body {
    width: 960px;
}
h1 {
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Rotate the profile picture here please */
img.profilepic {
    height: 200px;
    width: 200px;
    transform: rotate(90deg);
    float: left;
}